header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px 16px;
  background-color: var(--color-background-header);
  height: 130px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  padding-inline: 35px;
}

.header-logo {
  width: 120px;
}

.header-picture {
  background-image: url(./assets/img/header-img.png);
  height: 550px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.burger-house {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.burger-img {
  width: 250px;
  border-radius: 100%;
  transform: translate(0px, 50%);
  position: absolute;
  bottom: 0;
}
figure {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 65%;
  height: auto;
}

.burger-meal {
  display: flex;
  align-items: center;
  height: auto;
}
/* -------------------------- dishes overlay---------------------------------- */
.dishes-card {
  display: flex;
  background-color: var(--color-background-dishes);
  padding: 20px;
  margin-top: 20px;
  margin-inline: auto;
  font-family: "Palanquin";
  border-radius: 18px;
  max-width: 1250px;
  gap: 20px;
  height: auto;
}

.dish-head {
  grid-column: 1 / 2;
  grid-row: 1;
}
h3 {
  font-size: 28px;
}

.dish-cover {
  display: block;
  width: 280px;
  height: 160px;
  border-radius: 18px;
  object-fit: cover;
  object-position: 0% 65%;
}

.dish-actions {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  height: 100%;
  align-self: stretch;
}

.dish-price {
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
}

.dish-info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  column-gap: 24px;
  flex: 1;
}

.dish-desc {
  font-family: "Palanquin";
  font-size: 18px;
  font-weight: 500;
  padding-top: 15px;
}

.dish-added {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 44px;
  border-radius: 20px;
  border: none;
  background: white;
  cursor: pointer;
}

.dish-added:hover {
  scale: calc(1.05);
  cursor: pointer;
}
