.dishes-card {
  display: flex;
  background-color: var(--color-background-dishes);
  padding: 20px;
  margin-top: 20px;
  margin-inline: 65px;
  font-family: "Palanquin";
  border-radius: 18px;
  max-width: 950px;
  gap: 20px;
  height: auto;
}

.dish-head {
  grid-column: 1 / 2;
  grid-row: 1;
}
h3 {
  font-size: 28px;
}

.dish-cover {
  display: block;
  width: 280px;
  height: 160px;
  border-radius: 18px;
  object-fit: cover;
  object-position: 0% 65%;
}

.dish-actions {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  height: 100%;
  align-self: stretch;
}

.dish-price {
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
}

.dish-info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  column-gap: 24px;
  flex: 1;
}

.dish-desc {
  font-family: "Palanquin";
  font-size: 18px;
  font-weight: 500;
  padding-top: 15px;
}

.dish-added {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 44px;
  border-radius: 20px;
  border: none;
  background: white;
  cursor: pointer;
}

.dish-added:hover {
  scale: calc(1.05);
  cursor: pointer;
}
