header {
  background-color: var(--color-background-header);
  height: 130px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}

.header-logo {
  width: 120px;
}

.header-picture {
  background-image: url(./assets/img/header-img.png);
  height: 550px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.burger-house {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.burger-img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  transform: translate(0px, 50%);
  position: absolute;
  bottom: 0;
}
figure {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.burger-meal {
  display: flex;
  align-items: center;
  height: auto;
}

