.open-Menu {
  position: fixed;
  top: 400px; /* Headerhöhe */
  background-color: var(--color-background-basket);
  color: white;
  right: 0;
  width: 325px;
  min-height: 400px;
  max-height: 600px;
  padding-bottom: 18px;
  border-radius: 30px 0px 0px 30px;
  overflow-y: auto;
  transform: translateX(110%);
  transition: transform 250ms ease;
  z-index: 9999;
}
.open-Menu.d-block {
  transform: translateX(0);
}

h4 {
  font-family: "Palanquin";
  text-align: center;
  font-size: 28px;
}

strong {
  padding-inline: 20px;
}

.overflow {
  overflow-y: auto;
  height: 370px;
}

.meal-list {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    border-radius: 8px;
    background-color: white;
    color: var(--color-background-basket);
    margin-top: 8px;
    justify-content: space-around;
    width: auto;
    padding: 10px;
    height: 80px;
    padding-left: 8px;
    margin: 20px;
    align-items: center;
}

h5 {
  font-size: 12px;
}

.meal-list p {
  font-size: 14px;
}

.basketTotal {
    display: flex;
    margin-top: auto;
    padding-top: 16px;
    flex-direction: column;
    align-items: center;
}

.basket-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
