.menu-board {
  display: flex;
  align-items: flex-start;
  width: calc(100%-300px);
  max-width: 1440px;
  margin: auto;
}

.dishes-board {
  display: flex;

  min-width: 0;
  flex-direction: column;
}

.basket-board {
  display: flex;
  max-width: 300px;
  position: sticky;
  flex-direction: row;
  margin-top: 130px;
  top: 175px;
}

.orange-inner {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 50px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-end;

  padding-bottom: 20px;
}

.orange-line h5 {
  padding-left: 5px;
  font-size: 45px;
  color: white;
  font-family: "Palanquin";
}

.menu-vec {
  height: 90px;
  width: 90px;
}

@media (max-width: 1000px) {
  .orange-line h2 {
    padding-left: 5px;
    font-size: 30px;
    color: white;
    font-family: "Palanquin";
  }

  .orange-inner {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }

  .menu-vec {
    height: 80px;
    width: 80px;
    transform: translate(-7px, -15px);
  }
}

@media (max-width: 900px) {
}
h5 {
  font-size: 29px;
}
