@media (max-width: 1050px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 750px) {
  .container {
    padding: 0px 0px;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px 16px;
    background-color: var(--color-background-header);
    height: 55px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
  }

  .main-layout {
    padding:0 20px
  }

  .header-bar {
    justify-content: center;
  }

  .menu-button {
    display: none; 
  }
  .header-logo {
    width: 100px;
  }
  .header-picture {
    background-image: url(../assets/img/header-img.png);
    height: 584px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .burger-img {
    width: 220px;
    border-radius: 100%;
    transform: translate(0px, 50%);
    position: absolute;
    bottom: 32px;
  }
  figure img {
    width: 385px;
  }

  .orange-line h2 {
    display: none;
  }

  .burger-vec{
    width: 70px
  }
  .dishes-card {
    display: flex;
    background-color: var(--color-background-dishes);
    padding: 11px;
    margin-top: 20px;
    margin-inline: 0px;
    font-family: "Palanquin";
    border-radius: 18px;
    gap: 20px;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .dish-cover {
    display: block;
    width: 100%;
    height: 153px;
  }
  .dish-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dish-actions {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-content: center;
  }

  h3 {
    text-align: center;
    font-size: 25px;
  }

  .dish-desc {
    text-align: center;
    font-family: "Palanquin";
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
  }

  .dish-price {
    margin-bottom: 14px;
    font-size: 28px;
    font-weight: bold;
    white-space: nowrap;
  }

  footer {
    margin-top: 0;
    background-color: var(--color-background-header);
    height: 54px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 12px;
    color: white;
    font-family: "Palanquin";
    flex-direction: row;
  }
  .open-Menu {
    position: fixed;
    bottom: 0;
    right: max(12px, calc((100vw - 1440px) / 2));
    transform: translateY(40%);
    transition: transform 250ms ease;
    background-color: var(--color-background-basket);
    color: white;
    width: 285px;
    min-height: 400px;
    max-height: 550px;
    border-radius: 30px 30px 30px 30px;
    z-index: 1;
    overflow-y: hidden;
  }
  .open-Menu.d-block {
    transform: translateY(0);
  }
  .open-Menu.isHidden {
    transform: translateY(165%);
  }
  .overflow {
    overflow-y: auto;
    height: 365px;
  }
  .content {
    overflow-y: hidden;
  }
  .meal-list {
    color: var(--color-background-basket);
    background-color: var(--color-background-dishes);
    border-radius: 18px;
    padding: 0px 18px;
    margin: 5px 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-end;
  }
  .order-dialog-content img {
    width: 280px;
    margin-bottom: -25px;
  }
  .footer-Bar {
    height: 45px;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }
  .footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }

  .footer-button img {
    width: 22px;
    height: 22px;
    display: block;
  }

  .footer-nav {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}
}

@media (max-width: 600px) {
  .dishes-card {
    border: 3px solid red;
  }
}
