@media (max-width: 1050px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 750px) {
  .container {
    padding: 0px 0px;
  }

  .header-bar {
    justify-content: center;
  }

  .menu-button {
    display: none;
  }
  .header-logo {
    width: 210px;
  }
  .header-picture {
    background-image: url(../assets/img/header-img.png);
    height: 584px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .burger-img {
    width: 220px;
    border-radius: 100%;
    transform: translate(0px, 50%);
    position: absolute;
    bottom: 32px;
  }
  figure img {
    width: 385px;
  }

  .orange-line h2 {
    display: none;
  }
  .dishes-card {
    display: flex;
    background-color: var(--color-background-dishes);
    padding: 11px;
    margin-top: 20px;
    margin-inline: 0px;
    font-family: "Palanquin";
    border-radius: 18px;
    gap: 20px;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .dish-cover {
    display: block;
    width: 100%;
    height: 153px;
  }
  .dish-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .dish-actions {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-content: center;
  }

  h3 {
    text-align: center;
    font-size: 25px;
  }

  .dish-desc {
    text-align: center;
    font-family: "Palanquin";
    font-size: 16px;
    font-weight: 500;
    padding-top: 5px;
  }

  .dish-price {
    margin-bottom: 14px;
    font-size: 28px;
    font-weight: bold;
    white-space: nowrap;
  }

  footer {
    margin-top: 20px;
    background-color: var(--color-background-header);
    height: 130px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 12px;
    color: white;
    font-family: "Palanquin";
    flex-direction: row;
  }
  .open-Menu {
    display: none;
  }
}

@media (max-width: 600px){
  .dishes-card{ outline: 3px solid red; }
}
