* {
  margin: 0;
}

@font-face {
  font-family: "Palanquin";
  src: url(../assets/fonts/Palanquin/Palanquin-Regular.ttf);
}

:root {
  --color-background-header: #e76c1f;
  --color-background-dishes: #fdeadc;
  --color-background-basket: #363534;
}

.main-layout {
  display: flex;
  align-items: flex-start;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 35px;
  box-sizing: border-box;
}

.content {
  flex: 1;
  width: auto;
  overflow-y: auto;
}

.menu-button {
  width: 50px;
}

.menu-button:hover {
  scale: calc(1.2);
  cursor: pointer;
}

.menu-img {
  width: 80px;
}

.orange-line {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end; 
  background: var(--color-background-header);
  height: 65px;
  width: 100%;
}

.orange-inner {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.orange-line h2 {
  padding-left: 5px;
  font-size: 45px;
  color: white;
  font-family: "Palanquin";
}

.burger-vec {
  height: 100px;
  width: 100px;
  transform: translate(-7px, 2px);
}

footer {
  margin-top: 100px;
  background-color: var(--color-background-header);
  height: 130px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: 20px;
  color: white;
  font-family: "Palanquin";
}

footer :hover {
  scale: calc(1.2);
  cursor: pointer;
}

