* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Palanquin";
  src: url(../assets/fonts/Palanquin/Palanquin-Regular.ttf);
}

:root {
  --color-background-header: #e76c1f;
  --color-background-dishes: #fdeadc;
  --color-background-basket: #363534;
}

.header-container {
  background-image: url(../assets/img/header-img.png);
  height: 60vh;
  position: relative;
  background-size: cover;
  background-position: bottom;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-bottom: 313px;
}

.header-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-background-header);
  height: 130px;
  align-content: center;
}

.menu-head {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-inline: 50px;
}

.header-logo {
  width: 120px;
}

figure {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.burger-img {
  width: 250px;
  border-radius: 100%;
  transform: translate(0px, 50%);
  position: absolute;
  bottom: 0;
}

.burger-house-img {
  transform: translate(0px, 275%);
  position: absolute;
  bottom: 20px;
}

.burger-meal {
  display: flex;
  align-items: center;
  height: auto;
}

.orange-line {
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    background: var(--color-background-header);
    height: 65px;  
    padding-left: 70px;
}

.orange-inner {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.orange-line h2 {
  padding-left: 5px;
  font-size: 45px;
  color: white;
  font-family: "Palanquin";
}

.menu-vec {
  height: 100px;
  width: 100px;
  transform: translate(-7px, 2px);
}

footer {
  margin-top: 55px;
  background-color: var(--color-background-header);
  height: 130px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: 20px;
  color: white;
  font-family: "Palanquin";
}

footer :hover {
  scale: calc(1.2);
  cursor: pointer;
}

.footer-Bar{
  background-color: var(--color-background-basket);
}

.footer-Bar{
  display: none;
}
