* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  margin-top: -16px;
  font-family: "Palanquin", sans-serif;
  font-size: 68px;
  font-weight: 900;
}

@font-face {
  font-family: "Palanquin";
  src: url(../assets/fonts/Palanquin/Palanquin-Regular.ttf);
}

:root {
  --color-background-header: #e76c1f;
  --color-background-dishes: #fdeadc;
  --color-background-basket: #363534;
}

.header-container {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  max-width: 1440px;
  margin: auto;
}


.main-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.main-container {
  max-width: 1440px;
  margin: auto;
}

.header-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-background-header);
  height: 130px;
  align-content: center;
}

.menu-head {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-inline: 50px;
  max-width: 1440px;
  margin: auto;
}

.header-logo {
  width: 120px;
}

.header-basket {
  width: 55px;
}

.header-logo:hover,
.header-basket:hover {
  scale: calc(1.15);
  cursor: pointer;
}

.stars {
  margin-top: 60px;
}

.burger-img {
  width: 250px;
  border-radius: 100%;
  position: absolute;
}

figure {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  color: #363534;
  font-family: "Palanquin";
}

.heading span {
  color: #e76c1f;
  font-family: "Palanquin";
}

h2 {
  margin-top: -20px;
  font-family: "Palanquin", sans-serif;
  font-size: 24px;
}

.burger-house {
  display: flex;
  font-family: "Palanquin";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}

.burger-meal {
  display: flex;
  align-items: center;
  height: auto;
}

.wrapper-menu {
  width: calc(100% - 300px);
}

footer {
  margin-top: 55px;
  background-color: var(--color-background-header);
  height: 130px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: 20px;
  color: white;
  font-family: "Palanquin";
}

footer :hover {
  scale: calc(1.2);
  cursor: pointer;
}

.footer-Bar {
  background-color: var(--color-background-basket);
}

.footer-Bar {
  display: none;
}

.footer-ws {
  display: flex;
  gap: 25px;
  max-width: 1440px;
  margin: auto;
}

@media (max-width: 1300px) {
  h1 {
    margin-top: -60px;
    font-size: 60px;
  }

  h2 {
    font-size: 14px;
    text-align: center;
  }

  .stars {
    margin-top: 80px;
    padding-bottom: 30px;
  }

  .dishes-card {
    display: flex;
    background-color: var(--color-background-dishes);
    font-family: "Palanquin";
    border-radius: 18px;
    max-width: 950px;
    gap: 5px;
    height: auto;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .dish-info {
    display: flex;
    column-gap: 24px;
    flex: 1;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
  }
}

@media (max-width: 450px) {
  .header-basket {
    display: none;
  }

  .header-bar {
    height: 75px;
  }

  .menu-head {
    justify-content: center;
  }

  .footer-Bar {
    display: flex;
  }
  h1 {
    margin-top: -30px;
    font-size: 48px;
  }

  h2 {
    font-size: 14px;
    text-align: center;
  }

  .stars {
    margin-top: 19px;
  }

  .burger-house {
    margin-top: 115px;
  }

  .orange-line h2 {
    padding-left: 5px;
    font-size: 20px;
    color: white;
    font-family: "Palanquin";
  }

  .menu-vec {
    height: 70px;
    width: 70px;
    transform: translate(-7px, 2px);
  }

  .orange-inner {
    display: flex;
    align-items: flex-end;
    gap: 5px;
  }
  .orange-line {
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: var(--color-background-header);
    height: 40px;
    padding-left: 14px;
  }

  footer {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 0px;
    font-size: 12px;
  }

  .footer-Bar {
    height: 80px;
    position: sticky;
    bottom: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }
  .footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }

  .footer-button img {
    width: 22px;
    height: 22px;
    display: block;
  }

  .footer-nav {
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    gap: 20px;
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 380px) {
  h1 {
    margin-top: -30px;
    font-size: 48px;
  }

  h2 {
    font-size: 14px;
    text-align: center;
  }
}
