* {
  margin: 0;
}
@font-face {
  font-family: "Palanquin";
  src: url(/assets/fonts/Palanquin/Palanquin-Regular.ttf);
}

:root {
   --color-background-header: #E76C1F;
}

.menu-img {
  width: 80px;
}
.orange-line {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding-inline: 190px;
  background: var(--color-background-header);
  height: 65px;
}
.orange-line h2 {
  padding-left: 5px;
  font-size: 45px;
  color: white;
  font-family: "Palanquin";
}

.burger-vec {
  height: 100px;
  width: 100px;
  transform: translate(-7px, 2px);
}

footer {
  margin-top: 100px;
  background-color: var(--color-background-header);
  height: 130px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 60px;
  font-size: 20px;
  color: white;
  font-family: "Palanquin";
}

